// TODO: find a cool paletton
$blue: #00B0E0;
$blue-dark: #033860;
$blue-darkest: #002642 ;
$orange: #E4572E;

$green: #97CC04;
$yellow: #EFCB54;
$red: #721817 ;

$grey-darkest: #05050F;
$grey-dark: #45454F;

$white: #EAEAEA;
